<div>
	<div *ngIf="gameStatus === 'PENDING'">

		<div class="center">
			<div class="logo">
		        <img src="/assets/img/logo.png">
		    </div>
		    <div> WAITING FOR PLAYERS... </div>
		</div>
	</div>

	<div *ngIf="gameStatus === 'STARTED'" [style.width.px]="canvasW" id="gameStarted">
		
		<div *ngIf="game" class="score-table-wrapper"> 
			<score-table [players]="game.players" [gameOver]="false"></score-table>
		</div>
		<div id="currentCost">{{cost}}</div>
		<div id="canvasWrapper" [style.width.px]="canvasW" [style.height.px]="canvasH">
			<canvas id="myCanvas" [attr.width]="canvasW" [attr.height]="canvasH" resize="false"></canvas>
		</div>
		<img id="game-logo" src="/assets/img/logo.png">
		<div id="timer">{{ timeLeft | secondsToTime }}</div>
	</div>

	<div *ngIf="gameStatus === 'FINISHED'"  id="gameFinished">
		<div class="center-container center">
			<div class="logo">
		        <img src="/assets/img/logo.png">
		    </div>
		    <div [style.width.px]="canvasW" id="resultsHolder">
				<div id="game-result">
					<span *ngIf="isWinner"> YOU ARE THE WINNER!</span>
					<span *ngIf="!isWinner"> YOU LOSE</span>
				</div>
				<score-table [players]="game.players" [gameOver]="true" [isWinner]="isWinner"></score-table>
			</div>
	
			<button class="btn btn-primary next-game-btn" (click)="startGame()">NEXT GAME</button>
		</div>
	</div>
</div>